EUR_EAS_all_gen_eff.cscore.gz filter=lfs diff=lfs merge=lfs -text
EUR_EAS_all_gen_imp.cscore.gz filter=lfs diff=lfs merge=lfs -text
EUR_EAS_all_gen_eff.cscore filter=lfs diff=lfs merge=lfs -text
EUR_EAS_all_gen_imp.cscore filter=lfs diff=lfs merge=lfs -text
